@font-face {
  font-family: 'Ponomar Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Ponomar Unicode'), 
    url(https://slavonic.github.io/files/PonomarUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/PonomarUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/PonomarUnicode.ttf) format('ttf');
}

@font-face {
  font-family: 'Fedorovsk Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Fedorovsk Unicode'), 
    url(https://slavonic.github.io/files/FedorovskUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/FedorovskUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/FedorovskUnicode.ttf) format('ttf');
}

@font-face {
  font-family: 'Menaion Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Menaion Unicode'), 
    url(https://slavonic.github.io/files/MenaionUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/MenaionUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/MenaionUnicode.ttf) format('ttf');
}

@font-face {
  font-family: 'Monomakh Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Monomakh Unicode'), 
    url(https://slavonic.github.io/files/MonomakhUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/MonomakhUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/MonomakhUnicode.ttf) format('ttf');
}

@font-face {
  font-family: 'Pomorsky Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Pomorsky Unicode'), 
    url(https://slavonic.github.io/files/PomorskyUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/PomorskyUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/PomorskyUnicode.ttf) format('ttf');
}

@font-face {
  font-family: 'Indiction Unicode';
  font-style: normal;
  font-weight: 400;
  src: local('Indiction Unicode'), 
    url(https://slavonic.github.io/files/IndictionUnicode.woff2) format('woff2'),
    url(https://slavonic.github.io/files/IndictionUnicode.woff) format('woff'),
    url(https://slavonic.github.io/files/IndictionUnicode.ttf) format('ttf');
}

.ponomar {
  font-family: 'Ponomar Unicode';
}

.fedorovsk {
  font-family: 'Fedorovsk Unicode';
}

.menaion {
  font-family: 'Menaion Unicode';
  line-height: 1.5em;
}

.monomakh {
  font-family: 'Monomakh Unicode';
}

.pomorsky-dropcaps {
  font-family: 'Pomorsky Unicode';
  font-size: 5em;
  float : left;
  color : red;
  margin-top: -0.1em;
  margin-right: 0.05em;
  margin-bottom: -0.5em;
}

.indiction-dropcaps {
  font-family: 'Indiction Unicode';
  font-size: 4em;
  float : left;
  color : red;
  margin-top: -0.3em;
  margin-right: 0.05em;
  margin-bottom: -0.5em;
}

.sample {
  margin: 1em 5em 1em 5em;
  padding: 0.5em;
  border: 1pt solid lightgrey;
  font-size: 1.5em;
}
