.ponomar {
  font-family: 'Ponomar Unicode';
  font-language-override: 'CSL';
}

.fedorovsk {
  font-family: 'Fedorovsk Unicode';
}

.menaion {
  font-family: 'Menaion Unicode';
  line-height: 1.5em;
}

.monomakh {
  font-family: 'Monomakh Unicode';
}

.fira {
  font-family: 'FiraSlav';
}

.pomorsky-dropcaps {
  font-family: 'Pomorsky Unicode';
  font-size: 5em;
  float : left;
  color : red;
  margin-top: -0.38em;
  margin-right: 0.05em;
  margin-bottom: -0.6em;
}

.indiction-dropcaps {
  font-family: 'Indiction Unicode';
  font-size: 4em;
  float : left;
  color : red;
  margin-top: -0.3em;
  margin-right: 0.05em;
  margin-bottom: -0.5em;
}

.sample {
  margin: 1em 5vw 1em 5vw;
  padding: 0.5em;
  border: 1pt solid lightgrey;
  font-size: 1.5em;
}
