/* make current language in lang selector bold */
.en:lang(en), .fr:lang(fr), .zh:lang(zh), .ru:lang(ru) {
    font-weight: bold;
}

.lang-selector {
    text-align: right;
}

a {
    color: #818a91;
    text-decoration: none
}

a:hover {
    color: #373a3c;
    text-decoration: underline;
}

.small-logo {
    width: 24px;
    margin-top: -12px;
    margin-left: -12px;
}
