/* make current language in lang selector bold */
.en:lang(en), .fr:lang(fr), .zh:lang(zh), .ru:lang(ru) {
    font-weight: bold;
}

.lang-selector {
    text-align: right;
    margin-right: 1em;
}

a {
    color: #818a91;
    text-decoration: none
}

a:hover {
    color: #373a3c;
    text-decoration: underline;
}

.footer li {
    margin-left: 1em;
    margin-right: 1em;
}
