@font-face {
    font-family: 'Mezenets Unicode';
    src: url('../fonts/MezenetsUnicode.eot');
    src: url('../fonts/MezenetsUnicode.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MezenetsUnicode.woff2') format('woff2'),
	url('../fonts/MezenetsUnicode.woff') format('woff'),
	url('../fonts/MezenetsUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shaidur Unicode';
    src: url('../fonts/ShaidurUnicode.eot');
    src: url('../fonts/ShaidurUnicode.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ShaidurUnicode.woff2') format('woff2'),
	url('../fonts/ShaidurUnicode.woff') format('woff'),
	url('../fonts/ShaidurUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fedorovsk Unicode';
    src: url('../fonts/FedorovskUnicode.eot');
    src: url('../fonts/FedorovskUnicode.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FedorovskUnicode.woff2') format('woff2'),
	url('../fonts/FedorovskUnicode.woff') format('woff'),
	url('../fonts/FedorovskUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sample {
  margin: 1em 5vw 1em 5vw;
  padding: 0.5em;
  border: 1pt solid lightgrey;
  text-align: center;
}

.text {
  font-family: 'Fedorovsk Unicode';
  text-align: center;
  font-size: 23px;
}

.neume {
  font-family: 'Mezenets Unicode';
  text-align: center;
  font-size: 32px;
}

.neumeB {
  font-family: 'Shaidur Unicode';
  text-align: center;
  font-size: 32px;
}

rt {
  font-family: 'Shaidur Unicode';
  font-size: 20px;
  color: red;
}

