<hr>
<footer class="footer small text-muted">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 text-sm-left">
                <a href="{{ site.data.legal[page.lang].link }}">&copy; 2005-{{ 'now' | date: "%Y" }} {{ site.data.legal[page.lang].title }}</a>
            </div>
            <div class="col-sm-2 text-sm-center hidden-xs-down">
                <img src="/images/logo.svg" class="small-logo" alt="" />
            </div>
            <div class="col-sm-5 text-sm-right">
                {% for item in site.data.footer_right[page.lang] %}
                    <a href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
