<hr>
<footer class="footer small text-muted">
    <div class="container">
        <div class="row">
            <div class="span4">
                <a href="{{ site.data.legal[page.lang].link }}">&copy; 2005-{{ 'now' | date: "%Y" }} {{ site.data.legal[page.lang].title }}</a>
            </div>
            <div class="span4 text-center">
                X
            </div>
            <div class="span4 text-right">
                <a href="{{ site.data.contact[page.lang].link }}">{{ site.data.contact[page.lang].title }}</a>
            </div>
        </div>
    </div>
</footer>
