<hr>
<footer class="footer small text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                {% assign year_now = 'now' | date: "%Y" %}
                {% for item in site.data.footer_left[page.lang] %}
                    <a class="footer-item" href="{{ item.link }}">{{ item.title | replace: "!YEAR_NOW!", year_now }}</a>
                {% endfor %}
            </div>
            <div class="col-sm-2 text-center hidden-xs hidden-sm">
                <img src="/images/logo.svg" class="small-logo" alt=" " />
            </div>
            <div class="col-sm-5">
                {% for item in site.data.footer_right[page.lang] %}
                    <a class="footer-item pull-right" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
