<nav>
  <ul>
    <li><a href="{{ site.t.home[page.lang].link }}">{{ site.t.home[page.lang].title }}</a></li>
    <li><a href="/about">{{ site.t.about[page.lang] }}</a></li>
    <li><a href="/software">{{ site.t.software[page.lang] }}</a></li>
    <li><a href="/blog">{{ site.t.blog[page.lang] }}</a></li>
  </ul>
</nav>
<div class="lang-selector" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
