<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">{{ site.data.name[page.lang] }}</a>
  <ul class="nav navbar-nav">
    {% for item in site.data.nav[page.lang] %}
    {{item.link}}|{{page.url}}
      {% if item.link == page.url %}
        <li class="nav-item active"><a class="nav-link" href="{{ item.link }}">{{ item.title }}</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ item.link }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<div class="lang-selector" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
