<nav class="navbar navbar-default navbar-full navbar-light bg-faded">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% assign home_link = "/" | append: page.lang | append: "/" %}
      {% if home_link == "/en/" %}
        {% assign home_link = "/" %}
      {% endif %}
      <a class="navbar-brand" href="{{ home_link }}">
        <img class="big-logo" src="/images/logo.svg" alt="&uarr;" />
      </a>
    </div>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        {% for item in site.data.nav[page.lang] %}
          {% if item.link == page.url %}
            <li class="nav-item active"><a class="nav-link" href="{{ item.link }}">{{ item.title }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ item.link }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %} 
            <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }} lang-selector">{{ post.lang }}</a>
          {% endfor %}

          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %} 
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }} lang-selector">{{ page.lang }}</a> 
          {% endfor %}
        </li>
      </ul>
    </div>
</nav>
